<% content_for(:title, @user.name)  %>

<div class="container">
<div class="profile-box">
	<div class ="profile-image" >
       <%= profile_image_for(@user, size: 160) %>
    </div>
    <div class="profile-info">
      <h2><%= @user.name %></h2>
      <p style="font-size:16px;">
        Created <%= pluralize(@projects.count, 'project') %> · 
        Backed <%= pluralize(@backed_projects.count, 'project') %> · 
      	Joined <%= @user.created_at.strftime("%B %Y") %>
      </p>

     <ul class="pager">
		<% if current_user?(@user) %>
  		<li class="previous">
  		<%= link_to '<span class="glyphicon glyphicon-pencil"></span> Edit'.html_safe, edit_user_path %></li>
  			<li class="previous">
  			<%= link_to '<span class="glyphicon glyphicon-trash"></span> Delete'.html_safe, @user, method: :delete, data: { confirm: 'Are you sure?' } %></li>
		<% end %>
		</ul>


    </div>
</div>

<hr>

<% if @projects.any?  %>
 <h3>Created (<%= @projects.count %>)</h3>
   <%= render 'shared/thumbnail_big', object: @projects %>
</div>
<% end %>


<% if @backed_projects.any?  %>
<hr>
 <h3>Backed (<%= @backed_projects.count %>)</h3>
   <%= render 'shared/thumbnail_small', object: @backed_projects %>
<% end %>

<% if @favorite_projects.any?  %>
<hr>
 <h3>Favorites (<%= @favorite_projects.count %>)</h3>
   <%= render 'shared/thumbnail_small', object: @favorite_projects %>
<% end %>

</div>