<h2><%= @user.name %></h2>

<p> Email: <%= @user.email %></p>
<p> Member since: <%= @user.created_at.strftime("%B %Y") %></p>
<p> <%= profile_image_for(@user) %>

<ul class="pager">
  <li class="previous">
  	<%= link_to '<span class="glyphicon glyphicon-pencil"></span> Edit'.html_safe, edit_user_path %></li>
  	<li class="previous">
  	<%= link_to '<span class="glyphicon glyphicon-trash"></span> Delete'.html_safe, @user, method: :delete, data: { confirm: 'Are you sure?' } %></li>
</ul>