
<h3><%= pluralize(@projects.size, 'project') %> available </h3>

<div class="row">
<% @projects.each do |project| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= link_to image_tag(project.image_file_name), project %>
      <div class="caption">
        <h5><%= link_to project.name, project %></h5>
        <p><%= truncate(project.description, length: 150, seperator: ' ') %></p>
       <%= render 'shared/progress_bar', object: project.pledge_percentage %>
       
		</div>

        <div class="info-box">
        	<ul>
            <li> 
                <span><strong><%= pledge_result(project) %></strong></span><br>
                <span>Funded</span>
              </li>
        	   <li> 
        	   		<span><strong><%= number_to_currency(project.pledge_amount_sum, precision:0) %></strong></span><br>
        	   		<span>Pledged</span>
        	   	</li>
        	   	<li> 
        	   		<span><strong><%= pledge_end_format(project) %></strong></span><br>
        	   		<span>To Go</span>
        	   	</li>
            <ul>
        </div>

      </div>
    </div>
  </div>
<% end %>
</div>
