<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag('main1.png') %>
          
        </div>
        <div class="item">
         <%= image_tag('main2.png') %>
          
        </div>
        <div class="item">
          <%= image_tag('main3.png') %>
          
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>   


<div class="container">

<div class="row">
 <h3>New & Noteworthy</h3><br>
   <%= render 'shared/thumbnail_small', object: @recent_projects %>
</div>
<div class="row">
 <h3>End Soon</h3><br>
   <%= render 'shared/thumbnail_small', object: @endsoon_projects %>
</div>
</div>